/*
Thomas Rotchford
Brian Thurber
CIS233DA
Section 27491
*/

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&family=Courier+Prime:wght@400;700&family=Tinos:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --light-color: #fff;
    --dark-color: #222;
    --shadow-color: rgba(34, 34, 34, 0.3);
    --heading-color: #036;
    --accent-color: hsl(180, 100%, 25%);
}

body {
    font-family: "Comic Neue", cursive;
}

h1,
h2 {
    font-family: "Tinos", serif;
}

code {
    font-family: "Courier Prime", monospace;
}

body {
    background: var(--light-color);
    color: var(--dark-color);
    font-family: "Comic Neue", sans-serif;
}

h1,
h2 {
    font-family: "Tinos", serif;
    color: var(--heading-color);
}

header {
    width: 100vw;
    height: 80px;
    background: var(--dark-color);
    color: var(--light-color);
}

header h1,
header nav {
    float: left;
}

header h1 {
    margin: 20px 0 0 20px;
    color: var(--light-color);
}

header a {
    display: block;
    color: var(--light-color);
    text-decoration: none;
    padding: 10px;
}

header a:hover {
    background: var(--light-color);
    color: var(--dark-color);
}

main {
    padding: 20px;
}

.selector-card {
    border: 1px solid var(--dark-color);
    border-radius: 20px 0 20px 0;
    box-shadow: 2px 2px 5px var(--shadow-color);
    text-align: center;
    background: white;
    float: left;
    margin: 10px;
    width: 300px;
    padding: 20px 10px 10px 10px;
}

.selector-card p {
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid var(--dark-color);
    padding: 10px;
}

.selector-card code {
    font-family: "Courier Prime", monospace;
    color: var(--accent-color);
    display: block;
    padding: 10px;
}
