/*
Thomas Rotchford
Brian Thurber
CIS233DA
Section 27491
*/

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&family=Courier+Prime:wght@400;700&family=Tinos:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --light-color: #fff;
    --dark-color: #222;
    --shadow-color: rgba(34, 34, 34, 0.3);
    --heading-color: #036;
    --accent-color: hsl(180, 100%, 25%);
}

body {
    font-family: "Comic Neue", cursive;
}

h1,
h2 {
    font-family: "Tinos", serif;
}

code {
    font-family: "Courier Prime", monospace;
}
